$main: #F7F7F7;
$secondary: #BDA0CB;
$transparency: 0.8;

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body.playbook {
  background-color: $main;
}

section#zazu {
  background-color: transparentize(darken($main, 5%), $transparency);
  background-image: inline-image('../images/feather.png');
  background-position: 530px 5px;
  background-repeat: no-repeat;
  background-size: 60px;
  -webkit-app-region: drag;
  cursor: move;

  input {
    outline: none;
    font-size: 40px;
    width: 500px;
    padding: 10px;
    border: 0;
    background-color: transparent;
    -webkit-app-region: no-drag;
    cursor: auto;
  }

  iframe#preview {
    border: 0;
  }

  div.results {
    display: flex;
    flex-direction: row;

    ul {
      padding: 0;
      margin: 0;
      border-top: 1px solid transparentize(darken($main, 10%), $transparency);
      max-height: 333px;
      overflow: hidden;
      width: 50%;

      &:last-child {
        width: 100%;
      }

      + div {
        width: 50%;
      }

      li {
        display: block;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid transparentize(darken($main, 10%), $transparency);
        -webkit-app-region: no-drag;
        cursor: pointer;
        width: 100%;

        .icon {
          text-align: center;
          line-height: 30px;
          height: 30px;
          width: 30px;
          margin: 7.5px;
          float: left;
        }

        h2, h3 {
          margin: 0;
          padding-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 400;
          font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

        h2 {
          font-size: 20px;
          line-height: 25px;
          &:last-child {
            font-size: 20px;
            line-height: 45px;
          }
        }

        h3 {
          font-size: 15px;
          line-height: 15px;
        }

        &.active {
          background-color: transparentize($secondary, $transparency);
        }

        &:hover {
          background-color: transparentize(lighten($secondary, 10%), $transparency);
        }
      }
    }
  }
}
